{{#each postData}}
<div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Posted on {{format_date createdAt}}</h6>
            <p class="card-text">{{content}}</p>
        </div>
    </div>
{{/each}}

<div class="dropdown-center">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        + New Post
    </button>
    <div class="dropdown-menu" data-bs-theme="dark">
        <form class="px-4 py-3 dashForm">
            <h5>Create New Post</h5>
            <div class="dropdown-divider"></div>
            <div class="mb-3">
                <label for="newPostTitle" class="form-label">Title</label>
                <input type="newPostTitle" class="form-control" id="newPostTitle" />
            </div>
            <div class="mb-3">
                <label for="newPostContent" class="form-label">Content</label>
                <input type="newPostContent" class="form-control" id="newPostContent" />
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
</div>

<script src="./js/dashboard.js"></script>