<h2>Login</h2>
<form class="login-form">
    <div class="mb-3">
        <label for="inputUsername" class="form-label">Username</label>
        <input type="username" class="form-control" id="inputUsername" aria-describedby="usernameHelp">
    </div>
    <div class="mb-3">
        <label for="inputPassword" class="form-label">Password</label>
        <input type="password" class="form-control" id="inputPassword">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <p style="display: inline;">or</p>
    <a class="btn btn-secondary" href="../signup" role="button">Sign Up Instead
    </a>
</form>
<script src="./js/login.js"></script>