<h2>Sign Up</h2>
<form class="form signup-form">
    <div class="mb-3">
        <label for="inputUsername" class="form-label">Username</label>
        <input type="username" class="form-control" id="inputUsername" aria-describedby="usernameHelp">
    </div>
    <div class="mb-3">
        <label for="inputPassword" class="form-label">Password</label>
        <input type="password" class="form-control" id="inputPassword">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <p style="display: inline;">or</p>
    <a class="btn btn-secondary" href="../login" role="button">Login Instead</a>
</form>
<script src="./js/signup.js"></script>